<!DOCTYPE html>

<html>

<head>
    <title>Om</title>
    <link rel="icon" href="/img/rocket.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="about-message">Den här sidan är skapad för att kunna visa nästa avgång med kollektivtrafik till två bostadsområden i Umeå samt till Vännäs.
           Sidan uppdaterar avgångarna varje minut med data ifrån <a href="trafiklab.se">trafiklab.se</a> Denna sida är gjord som ett projekt för att öva mig på front-end och back-end.</p>
        <img class="portrait" src="/img/jonasnodebild.png">
    </div>
    
    {{>footer}}
</body>

</html>
